@import url("https://fonts.googleapis.com/css2?family=Jua&family=Mansalva&display=swap");

body {
  background-color: #b0e0e6;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

h1 {
  font-family: "Mansalva", cursive;
  font-size: 72pt;
  color: #eb9995;
  -webkit-text-stroke: 0.5px #ffffff;
  text-shadow: 10px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.author {
  font-family: "Jua", sans-serif;
  font-size: 18pt;
  color: #000000;
  position: relative;
  top: -70px;
  left: 195px;
}

.long-link-container,
.short-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: 100vw;
}

.short-link,
.long-link {
  width: 655px;
  height: 59px;
  border: 1px solid #fff;
  border-radius: 10px 0px 0px 10px;
  font-size: 28pt;
  font-family: "Jua", sans-serif;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

.copy-button,
.go-button {
  height: 63px;
  width: 7vw;
  border: 1px solid #d3d3d3;
  border-radius: 0px 10px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  clip-path: inset(-15px -15px -15px 0px);
  font-family: "Jua", sans-serif;
  font-size: 20pt;
  background-color: #d3d3d3;
  color: #fff;
  transition: 0.3s;
}

.copy-button:hover,
.go-button:hover {
  cursor: pointer;
  background-color: #f8bdc6;
  border: 1px solid #f8bdc6;
  clip-path: inset(-15px -15px -15px 0px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}
